<footer class="main-footer">
  <!-- To the right -->
  <div class="float-right d-none d-sm-inline">
    <!-- Anything you want -->
  </div>
  <!-- Default to the left -->
  Khóa luận tốt nghiệp đề tài: <strong>"Ứng dụng công nghệ Blockchain vào website thương mại điện tử".</strong>
</footer>