<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

<body>
	
	<%- include('body-header') %>
	 
	 <div id="contact-page" class="container" style="margin-bottom: 150px;">
    	<div class="bg">
	    	<div class="row">    		
	    		<div class="col-sm-8">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Contact Info</h2>
	    				<address>
							<p>E-Shopper Inc.</p>
							<p>Tác giả: <b>Đặng Phương Tân - 16521071</b></p>
							<br>
							<p>ĐẠI HỌC QUỐC GIA THÀNH PHỐ HỒ CHÍ MINH </p>
							<p>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THÔNG TIN</p>
							<p>Mobile: +84 836 282 822</p>
							<p>Email: <a href="mailto:eshop.blockchain@gm.uit.edu.vn">eshop.blockchain@gmail.com</a> hoặc <a href="mailto:16521071@gm.uit.edu.vn">16521071@gm.uit.edu.vn</a></p>
	    				</address>
	    			</div>
				</div>			
	    		<div class="col-sm-4">
					<div class="social-networks">
						<h2 class="title text-center">Social Networking</h2>
						<ul>
							<li>
								<a href="https://www.facebook.com/mr.tan.love.of.life/"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-google-plus"></i></a>
							</li>
							<li>
								<a href="#"><i class="fa fa-youtube"></i></a>
							</li>
						</ul>
					</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->
	
		<%- include('footer') %> 
		
</body>
</html>